@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

$green: #97ce4c;
$yellow: #f0e14a;
$pink: #e89ac7;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url("/bg.jpg");
  color: white;
  font-size: 18px;
  line-height: 22px;
}
a {
  color: white;
  text-decoration: none;
  font-family: "Inconsolata", monospace;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 6rem;
}

p {
  font-size: 18px;
  line-height: 22px;
  font-family: "Inconsolata", monospace;
}

input {
  outline: 0;
}


.button {
  margin-top: 30px;
  margin-bottom: 100px;
  text-align: center;
  button {
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    background-color: #97ce4c;
    padding: 20px 30px;
    color: white;
    &:hover {
      background-color: #E762D7;
      color: white;
    }
  }
}
